{% extends 'base.html' %}

{% block title %} Contato - {% endblock %}

{% block conteudobody %}
  <br>
  <br>
  <br>

  <div align="center">
    <h4>Cadastrar Usuário</h4>
  </div>

  <div class="row">
    <div class="col s6 offset-l3 z-depth-2">
      <form class="col s12" action="{{ url_for('cadastrar_usuario') }}" method="post" >
        <div class="row">
          <div class="input-field col s12">
            <input id="nome" type="text" class="validate" name="nome">
            <label for="nome">Nome</label>
          </div>
          <div class="input-field col s12">
            <input id="usuario" type="text" class="validate" name="usuario">
            <label for="usuario">Usuário</label>
          </div>
          <div class="input-field col s12">
            <input id="senha" type="password" class="validate" name="senha">
            <label for="senha">Senha</label>
          </div>

        </div>

        <button type="submit" class="btn">Enviar</button>

        <br>
        <br>
      </form>
    </div>
  </div>

{% endblock %}