<li><a href="{{ url_for('acessar_cookie') }}">Acessar Cookies</a></li>
<li><a href="{{ url_for('acessar_sessao') }}">Acessar Sessões</a></li>
<li><a href="{{ url_for('acessar_sessao') }}">Encerrar Sessão</a></li>

<li>
  <a href="/">
    <i class="material-icons">dashboard</i>
  </a>
</li>

<li>
  <a href="{{ url_for('ver_usuarios') }}">
    <i class="material-icons">supervisor_account</i>
  </a>
</li>

<li>
  <a href="{{ url_for('ver_contatos') }}">
    <i class="material-icons">receipt</i>
  </a>
</li>

<li><a href="{{ url_for('criar_tabela') }}">Criar TB</a></li>
<li><a href="{{ url_for('excluir_tabela') }}">Excluir TB</a></li>